<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tutsplus.activityrecognition">

    <uses-permission android:name="com.google.android.gms.permission.ACTIVITY_RECOGNITION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!--<receiver-->
        <!--android:name="com.tutsplus.activityrecognition.MainActivity$ActivityReceiver"-->
        <!--android:enabled="true">-->
            <!--<intent-filter>-->
                <!--<action android:name="com.tutsplus.activityrecognition.ActivityRecognizedService.ACTION_ACTIVITY_RECOG"/>-->
            <!--</intent-filter>-->
        <!--</receiver>-->
        <!--<receiver-->
        <!--android:name="com.tutsplus.activityrecognition.MainActivity$StepReceiver"-->
        <!--android:enabled="true">-->
            <!--<intent-filter>-->
                <!--<action android:name="com.tutsplus.activityrecognition.StepsService.MIN_STEPS_TRIGGER_ACTION"/>-->
            <!--</intent-filter>-->
        <!--</receiver>-->

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAGQtYpsEMhbyshh2JlO19uoS6xmNvlbhM" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version"
            />

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name=".ActivityRecognizedService" />
        <service android:name=".GeofenceTransitionService" />
        <service android:name=".StepsService"/>

    </application>

</manifest>